.FAQ {
    display: flex;
    flex-direction: column;
}

.FAQ-Header {
    background-image: url(https://previews.123rf.com/images/sirandel/sirandel0912/sirandel091200021/6104209-a-close-up-of-a-soccer-ball-on-green-grass-with-fall-leaves-.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.Text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: #FF6220;
    padding: 100px;
    font-size: 6rem;
    font-weight: bold;
    text-decoration: underline;
}

.FAQ-Body {
    padding: 80px;
    padding-left: 250px;
    padding-right: 250px;
}

.FAQ-Body strong {
    font-weight: bold;
    color: black;
}
