.FAQ {
    display: flex;
    flex-direction: column;
}

.Title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 6rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 80px;
}

.FAQ-Body {
    padding: 10px;
    padding-left: 250px;
    padding-right: 250px;
    color: white;
    justify-content: center;
}

.FAQ-Body strong {
    font-weight: bold;
    color: gainsboro;
}

.FAQ-Body-Title {
    font: bold;
    font-weight: bold;
    font-size: 1.1rem;
}