.FAQ {
    display: flex;
    flex-direction: column;
}

.temp1 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}

.FAQ-Body {
    padding: 10px;
    padding-left: 250px;
    padding-right: 250px;
    color: white;
    justify-content: center;
}

.FAQ-Body strong {
    font-weight: bold;
    color: gainsboro;
}

.FAQ-Body-Title {
    font: bold;
    font-weight: bold;
    font-size: 1.1rem;
}