.Fixtures-Body td, .Fixtures-Body tr {
    color: gray;
}

.temp {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    margin-left: 5%;
    color: white;
    margin-bottom: 30px;
}

Table {
    text-align: center;
}

.box {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30%;
}

thead, tbody {
    background-color: white;
}

th {
    font-size: 1.3em;
}