.Fixtures-Body td, .Fixtures-Body tr {
    color: gray;
}

.temp {
    text-align: left;
    color: white;
}

table {
    text-align: center;
    width: 100%;
}

.box {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30%;
}

thead, tbody {
    background-color: white;
}

th {
    font-size: 1.3em;
}

h1 {
   padding-bottom: 30px;
}
