.HotelItem {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    padding-top: 12px ;
    align-items: flex-end;
    justify-content:space-evenly;
}

.CoachItem {
  flex-basis: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.CoachItem Input {
    align-items: center;
    text-align: center;
    
}
