.Rules {
    display: flex;
    flex-direction: column;
}

.temp2 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}

.Rules-Body {
    padding: 10px;
    padding-left: 250px;
    padding-right: 250px;
    color: white;
    justify-content: center;
}

.Rules-Body font {
    color: white;
    font: bold;
}

.Body-Title {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 100px;
}

