.volunteerdirectorhome {
    display: flex;
    flex-direction: column;
}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    color: #ffffff;
    padding: 100px;
    font-size: 6rem;
    font-weight: bold;
}

.volunteerdirectorhome-Body {
    padding: 80px;
    padding-left: 250px;
    padding-right: 250px;
    font-weight: bold;
    text-align: justify;
}

.text-field{
    color: #ffffff;
    text-align: center;
    justify-content: space-evenly;
}

.button-width{
    width: 80%;
}

.Assign-volunteerItem {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    padding-top: 12px ;
    align-items: flex-end;
    justify-content:space-evenly;
}
.VolunteerName {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    padding-bottom: 10px;
}

.VolunteerEmail {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    padding-bottom: 10px;
}

.VolunteerVenue {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    padding-bottom: 10px;
}

.Submit {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    padding-bottom: 10px;
}