.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.btn-icon {
    position: relative;
    top: 10px;
    margin-right: 10px;
}

.btn-icon:hover {
    cursor: pointer;
}